<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Complete Arm Assembly">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0120741803585021 0.0161782834147617 -0.000116249421738708"
        rpy="0 0 0" />
      <mass
        value="0.094459692666633" />
      <inertia
        ixx="2.49395953752314E-05"
        ixy="-1.07943571271677E-07"
        ixz="1.09620010487629E-09"
        iyy="4.59171379732494E-05"
        iyz="8.47831697328066E-09"
        izz="3.13098479474975E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-2.05090133278962E-08 0.0278726594910614 -0.000663878104482064"
        rpy="0 0 0" />
      <mass
        value="0.0451525514641292" />
      <inertia
        ixx="1.25218328608314E-05"
        ixy="6.69659767784091E-12"
        ixz="3.83286954309758E-11"
        iyy="7.47176371292313E-06"
        iyz="6.35306176471434E-09"
        izz="1.07173661089209E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0.023946 0.00023432 0.045995"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.00856134694341014 0.187569467925815 -0.000442875607637052"
        rpy="0 0 0" />
      <mass
        value="0.067681645688669" />
      <inertia
        ixx="2.06796748549735E-05"
        ixy="2.87624368311749E-11"
        ixz="6.34388257183012E-09"
        iyy="1.65560858652843E-05"
        iyz="-4.60294479835084E-11"
        izz="2.27201206167373E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 -0.041995 0"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.117928572801603 0.210500672449924 -0.000486409947105011"
        rpy="0 0 0" />
      <mass
        value="0.0616267578939116" />
      <inertia
        ixx="1.02605602568643E-05"
        ixy="-2.98586314510734E-11"
        ixz="6.35279283997119E-09"
        iyy="1.85838494550151E-05"
        iyz="-3.9525900878249E-11"
        izz="1.54040163656297E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.198731760746628 0.222297475484897 -0.000207275680606036"
        rpy="0 0 0" />
      <mass
        value="0.181115636338247" />
      <inertia
        ixx="0.000125082991280758"
        ixy="-1.91715182419283E-07"
        ixz="-3.18809492114017E-07"
        iyy="7.52710720340047E-05"
        iyz="2.81456890255547E-09"
        izz="7.57487396509343E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-5.52377223633316E-08 -0.0167248831478862 0.0307133006019892"
        rpy="0 0 0" />
      <mass
        value="0.0423967323938748" />
      <inertia
        ixx="1.47396918947412E-05"
        ixy="6.78079438828771E-08"
        ixz="-4.14245295764945E-09"
        iyy="1.35880683129479E-05"
        iyz="6.81252259247023E-07"
        izz="2.32714687075918E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0.2223 0.24575 0.0005"
      rpy="0 1.5708 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_finger_link">
    <inertial>
      <origin
        xyz="0.239958021974177 0.21053225669716 0.020132755387061"
        rpy="0 0 0" />
      <mass
        value="0.0274218746612953" />
      <inertia
        ixx="7.35775041024067E-06"
        ixy="-3.29946062083587E-09"
        ixz="2.17678939216698E-07"
        iyy="8.21755201624364E-06"
        iyz="-1.75531616469836E-10"
        izz="1.30421771999727E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/left_finger_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/left_finger_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_finger_joint"
    type="prismatic">
    <origin
      xyz="-0.025636 -0.23271 -0.1688"
      rpy="3.1416 -1.5708 0" />
    <parent
      link="link_5" />
    <child
      link="left_finger_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_finger_link">
    <inertial>
      <origin
        xyz="0.239958021982825 0.21054897042634 -0.0201327552839893"
        rpy="0 0 0" />
      <mass
        value="0.0274218746612954" />
      <inertia
        ixx="7.35775041042768E-06"
        ixy="3.29946062091814E-09"
        ixz="-2.17678941658251E-07"
        iyy="8.21755201624378E-06"
        iyz="-1.75531615072735E-10"
        izz="1.30421771997858E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/right_finger_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/right_finger_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger_joint"
    type="prismatic">
    <origin
      xyz="0.025636 -0.23291 -0.169"
      rpy="3.1416 -1.5708 0" />
    <parent
      link="link_5" />
    <child
      link="right_finger_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <mimic
      joint="left_finger_joint"
      multiplier="-1"
      offset="0" />
  </joint>
</robot>