<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="complete_arm_assembly">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0126522064234279 0.0112081741589456 1.03738375057827"
        rpy="0 0 0" />
      <mass
        value="0.0944596926666338" />
      <inertia
        ixx="2.49395953752317E-05"
        ixy="-1.07943571271723E-07"
        ixz="1.09620010475091E-09"
        iyy="4.59171379732495E-05"
        iyz="8.47831697329348E-09"
        izz="3.13098479474975E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-1.21952357101662E-08 0.0275827025842473 0.000932155095934251"
        rpy="0 0 0" />
      <mass
        value="0.0446962058831376" />
      <inertia
        ixx="1.2281031278665E-05"
        ixy="1.20613706142599E-12"
        ixz="7.89362412621311E-12"
        iyy="7.29718852707007E-06"
        iyz="-1.08328965106875E-07"
        izz="1.06262085935607E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="-0.00078087 -1.0373 0.041025"
      rpy="1.5708 0 0.52968" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.00834949781275746 0.104913900374987 0.000619823079234583"
        rpy="0 0 0" />
      <mass
        value="0.0672255298525689" />
      <inertia
        ixx="2.05050978794384E-05"
        ixy="6.64298051454639E-11"
        ixz="-1.08314547769564E-07"
        iyy="1.63154142770848E-05"
        iyz="-3.36235925763034E-11"
        izz="2.26290225979944E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0.040505 0"
      rpy="0 0 0.31732" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.0935866050880213 6.67293575173922E-07 0.00068111158867068"
        rpy="0 0 0" />
      <mass
        value="0.0611704168846414" />
      <inertia
        ixx="1.00859845876895E-05"
        ixy="-2.17559601024057E-11"
        ixz="-1.08328506713134E-07"
        iyy="1.83430472565671E-05"
        iyz="-9.01129243746046E-12"
        izz="1.53128567578939E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.024 0.128 0"
      rpy="0 0 0.95298" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.0507317607444873 0.0117974755114853 -0.000207275711896826"
        rpy="0 0 0" />
      <mass
        value="0.181115636310511" />
      <inertia
        ixx="0.000125082991168769"
        ixy="-1.91715154402022E-07"
        ixz="-3.18809488045174E-07"
        iyy="7.52710719324352E-05"
        iyz="2.81457808221661E-09"
        izz="7.57487396080242E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.124 0 0"
      rpy="0 0 -1.2703" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="0.0157360853404248 -0.00262699017847434 1.65823443865065E-08"
        rpy="0 0 0" />
      <mass
        value="0.0850149357001051" />
      <inertia
        ixx="3.37373512903583E-05"
        ixy="7.89582770327132E-07"
        ixz="4.15474871504368E-09"
        iyy="2.03515715548354E-05"
        iyz="-6.78213892525158E-08"
        izz="2.66043489763699E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0.086402 0.02425 0.0005"
      rpy="0.73588 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_finger">
    <inertial>
      <origin
        xyz="0.0781188934725541 1.6174765238105 1.73979296186067"
        rpy="0 0 0" />
      <mass
        value="0.0274218702393672" />
      <inertia
        ixx="7.35774020308452E-06"
        ixy="3.29864913425187E-09"
        ixz="-2.17677539898612E-07"
        iyy="8.21754721276065E-06"
        iyz="-1.71945655944004E-10"
        izz="1.30421684504181E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/left_finger.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/left_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_finger_joint"
    type="prismatic">
    <origin
      xyz="-0.019263 -1.6285 -1.7856"
      rpy="0 0 0" />
    <parent
      link="link_5" />
    <child
      link="left_finger" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_finger">
    <inertial>
      <origin
        xyz="0.0781189009130919 1.61747652084744 1.73979295754266"
        rpy="0 0 0" />
      <mass
        value="0.0274218628103051" />
      <inertia
        ixx="7.3577374565536E-06"
        ixy="3.2993037045971E-09"
        ixz="-2.17678420451016E-07"
        iyy="8.21755014234899E-06"
        iyz="-1.71039214492556E-10"
        izz="1.30421672826558E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/right_finger.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/right_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger_joint"
    type="prismatic">
    <origin
      xyz="-0.019263 1.6058 1.7856"
      rpy="-3.1416 0 0" />
    <parent
      link="link_5" />
    <child
      link="right_finger" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <mimic
      joint="left_finger_joint"
      multiplier="-1"
      offset="0" />
  </joint>
</robot>