<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="complete_arm_assembly">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0126522064234279 0.0112081741589456 1.03738375057827"
        rpy="0 0 0" />
      <mass
        value="0.0944596926666338" />
      <inertia
        ixx="2.49395953752317E-05"
        ixy="-1.07943571271723E-07"
        ixz="1.09620010475091E-09"
        iyy="4.59171379732495E-05"
        iyz="8.47831697329351E-09"
        izz="3.13098479474975E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-1.21952357101662E-08 0.0275827025842473 0.000932155095934251"
        rpy="0 0 0" />
      <mass
        value="0.0446962058831376" />
      <inertia
        ixx="1.2281031278665E-05"
        ixy="1.20613706130026E-12"
        ixz="7.89362412536608E-12"
        iyy="7.29718852707007E-06"
        iyz="-1.08328965106875E-07"
        izz="1.06262085935607E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="-0.00078087 -1.0373 0.041025"
      rpy="1.5708 0 0.52968" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.0083495112245085 0.104913808310048 0.00061978124354245"
        rpy="0 0 0" />
      <mass
        value="0.0672253268158646" />
      <inertia
        ixx="2.05051000460793E-05"
        ixy="3.5213726037406E-11"
        ixz="-1.08338604683114E-07"
        iyy="1.6315288025526E-05"
        iyz="-1.50521736891554E-11"
        izz="2.2628963418613E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint)2"
    type="revolute">
    <origin
      xyz="0 0.040505 0"
      rpy="0 0 0.75692" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.0935866065506837 6.68493950972682E-07 0.000681111440057891"
        rpy="0 0 0" />
      <mass
        value="0.0611704285828677" />
      <inertia
        ixx="1.00859846466543E-05"
        ixy="-2.12087916751726E-11"
        ixz="-1.08328219187182E-07"
        iyy="1.83430482645789E-05"
        iyz="-8.84540758950517E-12"
        izz="1.53128572066901E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.024 0.128 0"
      rpy="0 0 0.23095" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.050731760745883 0.011797475505387 -0.000207275711230026"
        rpy="0 0 0" />
      <mass
        value="0.181115636310511" />
      <inertia
        ixx="0.000125082991142915"
        ixy="-1.91715165837534E-07"
        ixz="-3.18809483889817E-07"
        iyy="7.52710719120373E-05"
        iyz="2.8145647428354E-09"
        izz="7.57487395968248E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.124 0 0"
      rpy="0 0 -0.98787" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="2."
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="0.0157361252272143 -0.00262703094861139 2.63403024947095E-08"
        rpy="0 0 0" />
      <mass
        value="0.085015418080232" />
      <inertia
        ixx="3.37375916928367E-05"
        ixy="7.89636338140576E-07"
        ixz="4.15346591669036E-09"
        iyy="2.0351585706133E-05"
        iyz="-6.77065399053462E-08"
        izz="2.66047123656453E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0.086402 0.02425 0.0005"
      rpy="0.036324 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="left_finger">
    <inertial>
      <origin
        xyz="-0.019263 -1.6285 -1.7856"
        rpy="0 0 0" />
      <mass
        value="0.0274218714255595" />
      <inertia
        ixx="7.35775440757057E-06"
        ixy="3.29947226227772E-09"
        ixz="-2.17679083297117E-07"
        iyy="8.21755225888586E-06"
        iyz="-1.77060574885703E-10"
        izz="1.30421803809744E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/left_finger.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/left_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_finger_joint"
    type="prismatic">
    <origin
      xyz="-0.019263 -1.6285 -1.7856"
      rpy="0 0 0" />
    <parent
      link="link_5" />
    <child
      link="left_finger" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.019"
      effort="5"
      velocity="0.1" />
  </joint>
  <link
    name="right_finger">
    <inertial>
      <origin
        xyz="-0.0408496815010922 1.72245379516032 2.02780677437668"
        rpy="0 0 0" />
      <mass
        value="0.0274218653592185" />
      <inertia
        ixx="7.35774758878993E-06"
        ixy="-3.29949277833179E-09"
        ixz="2.17679277849492E-07"
        iyy="8.21755229958864E-06"
        iyz="-1.74870173655788E-10"
        izz="1.30421746960894E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/right_finger.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/ri-one/Open-Manipulator-X-6/complete_arm_assembly/urdf/../meshes/right_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger_joint"
    type="prismatic">
    <origin
      xyz="-0.019263 1.6058 1.7856"
      rpy="-3.1416 0 0" />
    <parent
      link="link_5" />
    <child
      link="right_finger" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <mimic
      joint="left_finger_joint"
      multiplier="-1"
      offset="0" />
  </joint>

  <link name="world"/>

  <joint name="world_to_base_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  
</robot>