<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="complete_arm_assembly">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0126522064234279 -1.03738375057827 0.0112081741589456"
        rpy="0 0 0" />
      <mass
        value="0.0944596926666338" />
      <inertia
        ixx="2.49395953752317E-05"
        ixy="-1.09620010475093E-09"
        ixz="-1.07943571271723E-07"
        iyy="3.13098479474975E-05"
        iyz="-8.47831697329261E-09"
        izz="4.59171379732495E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-1.21952357101662E-08 0.0275827025842473 0.000932155095934251"
        rpy="0 0 0" />
      <mass
        value="0.0446962058831376" />
      <inertia
        ixx="1.2281031278665E-05"
        ixy="1.20613706136644E-12"
        ixz="7.89362412451905E-12"
        iyy="7.29718852707007E-06"
        iyz="-1.08328965106875E-07"
        izz="1.06262085935607E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="-0.000780869923727945 -1.0372656750587 0.0410248897442467"
      rpy="1.5707963267949 0 0.52968486830993" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.0522050802035188 0.0913852844092033 0.000619823088652605"
        rpy="0 0 0" />
      <mass
        value="0.0672255298525689" />
      <inertia
        ixx="1.97463138761601E-05"
        ixy="-1.61347814891615E-06"
        ixz="-9.80303026438532E-08"
        iyy="1.70741982803586E-05"
        iyz="4.606627989399E-08"
        izz="2.26290225979989E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint)2"
    type="revolute">
    <origin
      xyz="0 0.0405050009999363 0"
      rpy="0 0 0.75692376857971" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.135561649162503 -0.00765451798786654 0.000681111590314587"
        rpy="0 0 0" />
      <mass
        value="0.0611704168846414" />
      <inertia
        ixx="1.07273092038002E-05"
        ixy="-2.21001363879551E-06"
        ixz="-1.04034123428481E-07"
        iyy="1.77017226404434E-05"
        iyz="-3.01987837932181E-08"
        izz="1.53128567579069E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.0240000000000004 0.128 0"
      rpy="0 0 0.230949108410148" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.0724892299918621 0.0462866326477347 -0.000207275704634746"
        rpy="0 0 0" />
      <mass
        value="0.181115636310511" />
      <inertia
        ixx="0.000125082991168753"
        ixy="-1.91715154401948E-07"
        ixz="-3.18809489320704E-07"
        iyy="7.52710719324352E-05"
        iyz="2.81457808717281E-09"
        izz="7.57487396080407E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.123999999999999 0 0"
      rpy="0 0 -0.987872876989858" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="0.0374935545434686 0.0324564069017599 -0.00294393914316515"
        rpy="0 0 0" />
      <mass
        value="0.0850149357001051" />
      <inertia
        ixx="3.37373512903859E-05"
        ixy="6.01458454976205E-07"
        ixz="5.11572027872944E-07"
        iyy="2.30106461679883E-05"
        iyz="-3.09200964518611E-06"
        izz="2.39452743631895E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0.0864019800647668 0.0242500000276551 0.000500000021411151"
      rpy="0.036323657737331 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_finger">
    <inertial>
      <origin
        xyz="0.0998763621052364 1.68399390523841 1.74221321573283"
        rpy="0 0 0" />
      <mass
        value="0.0274218702393672" />
      <inertia
        ixx="7.3577402030763E-06"
        ixy="1.4268115928183E-07"
        ixz="-1.64427732457509E-07"
        iyy="1.02178879763317E-05"
        iyz="-2.37687260694702E-06"
        izz="1.10418276868553E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/left_finger.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/left_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_finger_joint"
    type="prismatic">
    <origin
      xyz="-0.019263 -1.6285 -1.7856"
      rpy="0 0 0" />
    <parent
      link="link_5" />
    <child
      link="left_finger" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_finger">
    <inertial>
      <origin
        xyz="-0.0408496746254886 1.7224537923404 2.02780677433875"
        rpy="0 0 0" />
      <mass
        value="0.0274218628103089" />
      <inertia
        ixx="7.35773745655418E-06"
        ixy="-3.29930370441245E-09"
        ixz="2.17678420451157E-07"
        iyy="8.21755014235052E-06"
        iyz="-1.71039214600765E-10"
        izz="1.30421672826575E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/right_finger.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_arm_assembly/meshes/right_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger_joint"
    type="prismatic">
    <origin
      xyz="0.12146 -0.020109 -2.6376"
      rpy="0 0 0" />
    <parent
      link="link_5" />
    <child
      link="right_finger" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <mimic
      joint="left_finger_joint"
      multiplier="-1"
      offset="0" />
  </joint>
</robot>