<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Complete Arm Assembly">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.678429842319806 0.89260990231199 1.31112689300818"
        rpy="0 0 0" />
      <mass
        value="0.0944596926666318" />
      <inertia
        ixx="2.49395953752312E-05"
        ixy="-1.12263643586799E-07"
        ixz="1.05007095359662E-09"
        iyy="4.59171615103605E-05"
        iyz="-8.45504983950467E-09"
        izz="3.13098714846083E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-2.05090133764685E-08 0.0278726594910612 -0.000663878104481652"
        rpy="0 0 0" />
      <mass
        value="0.04515255146413" />
      <inertia
        ixx="1.25218328608314E-05"
        ixy="6.69659772250678E-12"
        ixz="3.83286954101685E-11"
        iyy="7.47176371292326E-06"
        iyz="6.35306176464869E-09"
        izz="1.07173661089209E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0.69033 -1.3112 0.92243"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.00856134694342625 0.187569467925803 -0.000442875607636672"
        rpy="0 0 0" />
      <mass
        value="0.0676816456886685" />
      <inertia
        ixx="2.06796748549735E-05"
        ixy="2.87624368274702E-11"
        ixz="6.34388257179686E-09"
        iyy="1.65560858652842E-05"
        iyz="-4.60294480256048E-11"
        izz="2.27201206167372E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 -0.041995 0"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="6.72449921079732E-07 0.176428572801604 0.000486409934538967"
        rpy="0 0 0" />
      <mass
        value="0.0616267578939111" />
      <inertia
        ixx="1.85838494550151E-05"
        ixy="-2.98586313533527E-11"
        ixz="3.9525900966642E-11"
        iyy="1.02605602568641E-05"
        iyz="-6.35279283973775E-09"
        izz="1.54040163656299E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="-0.0585 0.2105 0"
      rpy="3.1416 0 1.5708" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.198731760746641 0.222297475484908 -0.000207275680620178"
        rpy="0 0 0" />
      <mass
        value="0.181115636338247" />
      <inertia
        ixx="0.000125082991274636"
        ixy="-1.91715184150939E-07"
        ixz="-3.18809492113977E-07"
        iyy="7.5271072033322E-05"
        iyz="2.81456890258401E-09"
        izz="7.57487396444E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="-0.2105 0.0585 0"
      rpy="3.1416 0 1.5708" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="end_effector">
    <inertial>
      <origin
        xyz="-5.22446375050833E-08 -0.0170248103697797 0.0316074462502707"
        rpy="0 0 0" />
      <mass
        value="0.0448261455614491" />
      <inertia
        ixx="1.48346334805848E-05"
        ixy="1.04956819868227E-07"
        ixz="-4.142452998686E-09"
        iyy="1.38058356627431E-05"
        iyz="6.81252259255115E-07"
        izz="2.3557490611066E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/end_effector.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/end_effector.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0.2223 0.24575 0.0005"
      rpy="0 1.5708 0" />
    <parent
      link="link_4" />
    <child
      link="end_effector" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_finger">
    <inertial>
      <origin
        xyz="0.239118086547226 0.210624080278204 0.0195971430490773"
        rpy="0 0 0" />
      <mass
        value="0.0287713290324161" />
      <inertia
        ixx="7.70020810555669E-06"
        ixy="-3.29946062739848E-09"
        ixz="2.1767893928585E-07"
        iyy="8.54305538090567E-06"
        iyz="3.07283827617671E-08"
        izz="1.30617201704644E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/right_finger.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/right_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="-0.025636 -0.23271 -0.1688"
      rpy="3.1416 -1.5708 0" />
    <parent
      link="end_effector" />
    <child
      link="right_finger" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_finger">
    <inertial>
      <origin
        xyz="0.23911808655568 0.210459665073586 -0.019596977728275"
        rpy="0 0 0" />
      <mass
        value="0.0287713290324178" />
      <inertia
        ixx="7.70020810574403E-06"
        ixy="3.29946061413401E-09"
        ixz="-2.1767894158894E-07"
        iyy="8.54294598243539E-06"
        iyz="3.12650719969816E-08"
        izz="1.30618295687512E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/left_finger.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/left_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0.025636 -0.23291 -0.169"
      rpy="3.1416 -1.5708 0" />
    <parent
      link="end_effector" />
    <child
      link="left_finger" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <mimic
      joint="joint_5"
      multiplier="1"
      offset="0" />
  </joint>
</robot>