<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Complete Arm Assembly">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.012232 0.00023434 0.027978"
        rpy="0 0 0" />
      <mass
        value="0.042619" />
      <inertia
        ixx="6.7636E-06"
        ixy="-4.0842E-12"
        ixz="-1.0832E-07"
        iyy="1.1865E-05"
        iyz="-1.1634E-11"
        izz="1.0466E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-0.66638 -0.84856 -1.3121"
        rpy="0 0 0" />
      <mass
        value="0.045153" />
      <inertia
        ixx="1.2522E-05"
        ixy="6.6966E-12"
        ixz="3.8329E-11"
        iyy="7.4718E-06"
        iyz="6.3531E-09"
        izz="1.0717E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0.69033 -1.3112 0.92243"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-0.65782 -0.68886 -1.3119"
        rpy="0 0 0" />
      <mass
        value="0.067682" />
      <inertia
        ixx="2.068E-05"
        ixy="2.8762E-11"
        ixz="6.3439E-09"
        iyy="1.6556E-05"
        iyz="-4.6029E-11"
        izz="2.272E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 -0.041995 0"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-0.876430946447304 -0.489951623789659 1.31196572001177"
        rpy="0 0 0" />
      <mass
        value="0.0616267578939116" />
      <inertia
        ixx="1.85838494550151E-05"
        ixy="-2.98586314510852E-11"
        ixz="3.95259008782306E-11"
        iyy="1.02605602568643E-05"
        iyz="-6.35279283997107E-09"
        izz="1.54040163656297E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="-0.0585 0.2105 0"
      rpy="3.1416 0 1.5708" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.467648435844624 -0.65413414341234 -1.31168658575783"
        rpy="0 0 0" />
      <mass
        value="0.181115636338247" />
      <inertia
        ixx="0.000125082991280758"
        ixy="-1.91715182419283E-07"
        ixz="-3.18809492114022E-07"
        iyy="7.52710720340047E-05"
        iyz="2.81456890255542E-09"
        izz="7.57487396509343E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="-0.2105 0.0585 0"
      rpy="3.1416 0 1.5708" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="end_effector">
    <inertial>
      <origin
        xyz="1.31147925783259 -0.893456429266982 -0.634772750341023"
        rpy="0 0 0" />
      <mass
        value="0.0448261455614486" />
      <inertia
        ixx="1.48346334805845E-05"
        ixy="1.04956819868274E-07"
        ixz="-4.1424529986886E-09"
        iyy="1.38058356627429E-05"
        iyz="6.81252259255059E-07"
        izz="2.35574906110657E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/end_effector.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/end_effector.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0.2223 0.24575 0.0005"
      rpy="0 1.5708 0" />
    <parent
      link="link_4" />
    <child
      link="end_effector" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_finger">
    <inertial>
      <origin
        xyz="0.239118086547263 0.21062408027815 0.0195971430491008"
        rpy="0 0 0" />
      <mass
        value="0.0287713290324179" />
      <inertia
        ixx="7.70020810555727E-06"
        ixy="-3.29946062747294E-09"
        ixz="2.17678939286046E-07"
        iyy="8.54305538090716E-06"
        iyz="3.07283827617154E-08"
        izz="1.30617201704657E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/right_finger.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/right_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger_joint"
    type="revolute">
    <origin
      xyz="1.2858 -1.1091 -0.83518"
      rpy="3.1416 -1.5708 0" />
    <parent
      link="end_effector" />
    <child
      link="right_finger" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_finger">
    <inertial>
      <origin
        xyz="0.23911808655568 0.210459665073558 -0.0195969777282517"
        rpy="0 0 0" />
      <mass
        value="0.028771329032418" />
      <inertia
        ixx="7.70020810574429E-06"
        ixy="3.29946061416621E-09"
        ixz="-2.17678941588926E-07"
        iyy="8.54294598243523E-06"
        iyz="3.12650719972033E-08"
        izz="1.3061829568751E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/left_finger.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Complete Arm Assembly/meshes/left_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_finger_joint"
    type="revolute">
    <origin
      xyz="1.3371 -1.1093 -0.83538"
      rpy="3.1416 -1.5708 0" />
    <parent
      link="end_effector" />
    <child
      link="left_finger" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <mimic
      joint="right_finger_joint"
      multiplier="-1"
      offset="0" />
  </joint>
</robot>